.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.h-ful{
    height: 120%;
}
.text-decorate{
    text-decoration: none;
}
.outline{
    outline: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.grid-famous{
    display: flex;
    margin: 0 40px;
}
.m1{
    margin: 15px;
}
.m2{
 margin: 35px 50px;
}
.m3{
    margin: 75px 130px;
}
.m4{
    margin: 100px;
}
.m5{
    margin: -10px;
}
.tribute-text-color{
    color: #ddd;
}