.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.h-ful{
    height: 150%;
}
.text-decorate{
    text-decoration: none;
}
.outline{
    outline: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.f-grid{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-gap: 1.5rem;
    margin: 0px 20px;
}
.grid-gap{
    grid-gap: 7rem;
}
.famous-work,img{
  border-radius: 14px;
  padding: 9px;
}
.m1{
    margin: 15px;
}
.m2{
 margin: 35px 50px;
}
.m3{
    margin: 75px 130px;
}
.m4{
    margin: 100px;
}
.m5{
    margin: -10px;
}
.m6{
    margin: 4px;
    transform: translateX(38px);
}
.margin-top{
    margin-top: 60px;
}
.tribute-text-color{
    color: #ddd;
}
a p{
    color: #000;
    transform: translateY(-7px);
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}
a p:hover{
   color: #fff;
}
.text-align{
    text-align: center;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}